# make tab cycle through commands after listing
"\t":menu-complete
"\e[Z": menu-complete-backward
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on
set page-completions off
set colored-stats on
