! ~/.Xresources
#include "/home/summis/.config/urxvt"

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! foreground = rainbow12 and curson same as prompt
*foreground:                      #f26d01
*background:                      #ffffff
*fading:                          20
*fadeColor:                       white
*cursorColor:                     #ff00ff

! My rainbow accent colors, used with i3 and polybar
*rainbow_1: #e107f4
*rainbow_2: #a704f6
*rainbow_3: #6603f5
*rainbow_4: #4205f7
*rainbow_5: #037df4
*rainbow_6: #08d9f3
*rainbow_7: #06f4a6
*rainbow_8: #28f403
*rainbow_9: #99f306
*rainbow_10: #e4f504
*rainbow_11: #f3b803
*rainbow_12: #f26d01
*rainbow_13: #f21605

! black
*color0:  #000000
*color8:  #767676

! red
*color1:  #cc0403
*color9:  #f2201f

! green
*color2:  #19cb00
*color10: #23fd00

! yellow
*color3:  #cecb00
*color11: #fffd00

! blue
*color4:  #0d73cc
*color12: #1a8fff

! magenta
*color5:  #cb1ed1
*color13: #fd28ff

! cyan
*color6:  #0dcdcd
*color14: #14ffff

! white
*color7:  #dddddd
*color15: #ffffff
