/* ~/.config/rofi/config.rasi */

configuration {
	theme: "mytheme";
	fullscreen: true;
	modi: "run,window,ssh";
	width: 100;
	font: "FreeSans 28";
	columns: 1;
	show-icons: false;
	case-sensitive: false;
	hide-scrollbar: true;
	parse-hosts: false;
	parse-known-hosts: false;
        terminal: "urxvt";
        ssh-command: "{terminal} -e {ssh-client} {host}";
}
